<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>FINDEX</name>

<description>
Aplicacion que da a conocer los distintos comercios de la ciudad
</description>

<author href="https://.example.com" email="you@example.com">
Jonathan Jesus Lizcano Valenzuela
</author>

<preference name="phonegap-version" value="3.7.0" />
</widget>
